* {
    box-sizing: border-box;
}

h1, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

h1 .main {
    font-size: 50px;
}

h1 .sub {
    font-weight: 300pc;
    font-size: 42px;
}

a {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
}

p {
    font-size: 21px;
    color: grey
}

body {
    background-color: black;
}


.mainVid video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.camp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

p.copyright {
    text-align: right;
}
